.footer{
    color: #fff;
    margin-top: 70px;
    background-color: #19376d;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 58px 10%;
    gap: 10px;
}
.footerText h2{
    font-size: 60px;
    letter-spacing: 4px;
    font-weight: 700;
}
.footerText p{
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
}
.footerLinks{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    gap: 26px;
}
.footerLink{
    display: flex;
    align-items: center;
    gap: 25px;
}
.footerLink a{
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.5px;

}
@media screen and (max-width: 830px) {
    .footer{
        flex-direction: column;
        gap: 23px;
    }
    .footerText{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footerLinks{
        align-items: center;
    }
}